html {
  scroll-behavior: smooth;
}

:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --green-h: #086848;
  --smooth: all 0.3s ease-in;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #212121;
  background-image: url(/img/background1.gif);
}

#header {
  background-color: #130211;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

#logo {
  padding: 5px 0px;
}

#logo img {
  max-width: 57px;
  height: auto;
  object-fit: cover;
}

#main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding: 18px 20px;
}

#main-menu li a :hover {
  background-color: var(--green-h);
}

.navbar__link a {
  background-color: #54b192;
  border-radius: 100px;
  border: none;
}

.navbar__link a :hover {
  transition: var(--smooth);
}

#main-menu {
  background-color: var(--gray);
}

button {
  text-align: center;
  background-color: var(--gray);
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button :hover {
  background-color: var(--green-h);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--green-l);
  margin-left: 45px;
  border: none;

  cursor: pointer;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.timereal {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#timeLabel {
  margin-top: 20px;
  font-size: 24px;
  color: #f8f8f8;
}

.tem {
  border: 2px solid var(--green);
  color: #f8f8f8;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
}

.heart {
  color: #f8f8f8;
  border: 2px solid var(--green);
  margin-top: 10px;
  border-radius: 50px;
}

.humidity {
  color: #f8f8f8;
  border: 2px solid var(--green);
  margin-top: 10px;
  border-radius: 50px;
}
