*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  position: absolute;
  width: 100%;
}

img {
  max-width: 100%;
  width: 100%;
}
:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --smooth: all 0.3s ease-in;
}

button {
  text-align: center;
  color: #58c261;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button :hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}

.container {
  max-width: 1200%;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/*logo*/
.navbar__logo {
  width: 57px;
  height: 57px;
  object-fit: cover;
}
/*link*/
.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  background-color: var(--gray);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  list-style: none;
  margin: 50px;
}

.navbar__link a {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  transition: var(--smooth);
}

.navbar__btn {
  background-color: var(--smooth);
}
